<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

  <style>
    div {
      height: 200px;
    }

    .c1 {
      background-color: #11c1f3;
      width: 200px;
      float: left;
    }

    .c2 {
      background-color: #9acfea;
      margin-left: 200px;
      margin-right: 200px;
    }

    .c3 {
      background-color: #00AA88;
      width: 200px;
      float: right;
    }
  </style>
</head>
<body>
<div class="c1"></div>

<div class="c3"></div>

<div class="c2"></div>
</body>
</html>
