<!DOCTYPE HTML>
<html lang="en">
	<head>
		<link rel="stylesheet"
			href="../dojo-release-1.7.2/dijit/themes/claro/claro.css"
			media="screen">

		<script src="../dojo-release-1.7.2/dojo/dojo.js"
			data-dojo-config="async:true">
	    </script>
		<script>
			    require(["dijit/registry", "dijit/layout/BorderContainer",
			            "dijit/layout/TabContainer", "dijit/layout/ContentPane", "dojo/domReady!"],
			        function(registry, BorderContainer, TabContainer, ContentPane){
			        
			        	function addTab(name) {
						    var pane = new ContentPane({
						        title: name,
						        content: "<h4>" + name + "</h4>"
						    });
						    // add the new pane to our contentTabs widget
						    registry.byId("contentTabs").addChild(pane);
						}
			        	
			            // create the BorderContainer and attach it to our appLayout div
						var appLayout = new BorderContainer({
						    design: "headline"
						}, "appLayout");
						 
						 
						// create the TabContainer
						var contentTabs = new TabContainer({
						    region: "center",
						    id: "contentTabs",
						    tabPosition: "bottom",
						    "class": "centerPanel",
						    href: "contentCenter.html"
						})
						 
						// add the TabContainer as a child of the BorderContainer
						appLayout.addChild( contentTabs );
						 
						// create and add the BorderContainer edge regions
						appLayout.addChild(
						    new ContentPane({
						        region: "top",
						        "class": "edgePanel",
						        content: "Header content (top)"
						    })
						)
						appLayout.addChild(
						    new ContentPane({
						        region: "left",
						        id: "leftCol", "class": "edgePanel",
						        content: "Sidebar content (left)",
						        splitter: true
						    })
						);
						 
						// Add initial content to the TabContainer
						contentTabs.addChild(
						    new ContentPane({
						        href: "contentGroup1.html",
						        title: "Group 1"
						    })
						)
						 
						// start up and do layout
						appLayout.startup();
				});
		</script>
	</head>

	<body class="claro">
		<div id="appLayout" class="demoLayout"></div>
	</body>
</html>