<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>LinkPane.html</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
		<style>
			html, body {
			  width: 100%;
			  height: 100%;
			  margin: 0;
			  overflow:hidden;
			}
			
			#borderContainer {
			  width: 100%;
			  height: 100%;
			}
		</style>
		
		<link rel="stylesheet"
			href="../dojo-release-1.7.2/dijit/themes/claro/claro.css">
		<script
			src="../dojo-release-1.7.2/dojo/dojo.js" data-dojo-config="isDebug: true, async: true, parseOnLoad: true"></script>
			
		<script>
			require(["dijit/layout/TabContainer","dijit/layout/LinkPane","dojo/parser","dojo/domReady!"]);
		</script>
	</head>
	<body class="claro">
		<div data-dojo-type="dijit.layout.TabContainer" style="height:300px; width:500px">
		    <a href="http://www.baidu.com" data-dojo-type="dijit.layout.LinkPane">Tab 1</a>
		    <a href="foo.html" data-dojo-type="dijit.layout.LinkPane">Tab 2</a>
		    <a href="http://localhost:100/breeze/index.jsp" data-dojo-type="dijit.layout.LinkPane">Tab 3</a>
		</div>
	</body>
</html>
