<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    .main, .sitebar {
      height: 300px;
      font: bolder 20px/300px '微软雅黑';
      color: #fff;
      text-align: center;
    }

    .main {
      width: 600px;
      float: left;
      background-color: #9acfea;
    }

    .sitebar {
      width: 200px;
      float: left;
      background-color: #0c63ee;
    }
  </style>
</head>
<body>
<div class="sitebar">左侧定宽200px区块</div>
<div class="main">
  右侧主体自适应区块
</div>
</body>
</html>
