/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/

/*******************
    branding head
  *******************/

.branding-head {
  width: 100%;
  padding: 0px;
  text-align: center;
  background: #F5F5F5;
}

.branding-head .icon {
  display: inline-block;
  width: 100%;
  min-height:93px;
  margin-top: 14px;
}

.branding-head .icon img {
  width: 25%;
  max-width:125px;
  border-radius:8px;
}

.branding-head .brand-info {
  min-height:94px;
  margin-top: 4px;
  padding-bottom: 16px;
}

.branding-head .brand-info h1 {
  font-size: 24px;
  line-height: 30px;
}

.branding-head .brand-info p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.branding-head .brand-info p.extra {
  font-size: 14px;
  color: #C9C9C9;
  margin-top: 8px;
}

.branding-head .progress-container {
  width: 100%;
  height: 65px;
  padding: 20px 22px 0 20px;
  background: #EEE;
}

.branding-head .progress-container > p {
  width: 100%;
  text-align: left;
  margin-top: 8px;
  margin-left: -2px;
}

.branding-head .progress-container > p em {
  font-size: 14px;
}

.branding-head p em.right {
  float: right;
  margin-right: -2px;
}

/*********************
     Slider Module
  *********************/

.slider-container {
  height: 116.5px;
}

.slider-container li img {

  height: 104px;
  margin: 0;
  padding: 0;
}

/**********************
   Article Basic Style
  **********************/

.article-list article {
  padding: 10px 6.6% 24px 5.5%;
  background: #F5F5F5;
}

.article-list article:nth-child(2n) {
  background: #FFF;
}

.article-list article .item {
  margin-top: 10px;
}

.invest-info article .silver,
.article-list article .silver {
  color: #AAA;
}

.invest-info article .gray,
.article-list article .gray {
  color: #757575;
}

.invest-info article h1,
.article-list article h1 {
  font-size: 22px;
  line-height: 44px;
}

.article-list article h3 {
  font-size: 16px;
  line-height:18px;
}

.invest-info article p,
.article-list article p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.article-list article p.date {
  height: 30px;
  text-align: right;
}

.article-list p.date i {
  display: inline-block;
  max-width:58px;
  color: #BCBCBC;
  font-size: 22px;
  line-height: 16px;
}

.article-list p.date em {
  position: absolute;
  color: #CCC;
  font-size: 12px;
  line-height: 10px;
  bottom: -2px;
  right: 0px;
}

.article-list p.avatar {
  float: right;
  margin-top: -20px;
}

.article-list p.avatar:empty {
  display: none;
}

.article-list p.avatar img {
  width: 40px;
  height:40px;
}

/**********************
       Typesetting
  **********************/

article.milestone{
  min-height: 148px;
}

.article-list article.growing-up .item,
.article-list article.milestone .item {
  min-height: 34px;
}

.article-list .team .item {
  margin-bottom: 28px;
}

.article-list .team .item:last-child {
  margin-bottom: 0;
}

.article-list .team p.gray {
  width: 85%;
  margin-top: 6px;
  text-align:justify;
}

.article-list .team p.gray.full-width {
  width: 100%;
}

.article-list .growing-up p,
.article-list .milestone p {
  width: 69%;
  text-align:justify;
}

.article-list .growing-up p.date,
.article-list .milestone p.date {
  position: relative;
  display: block;
  width: 52px;
  top: 3px;
  float: right;
}

.article-list .news {
  padding-bottom: 20px;
}

.article-list .news h1 {
  margin-top: 4px;
}

.article-list .news .item {
  margin-top: -2px;
}

.article-list .news .item p {
  margin-bottom: 4px;
}

.article-list .news .item p.gray {
  line-height: 18px;
  margin-bottom: 0;
}

.article-list .news p.date {
  position: static;
  text-align: left;
  margin-top: 8px;
}

.article-list .news p.date em {
  position: relative;
  top: 0;
  margin-left: 4px;
}

/**********************
    Part of Invest-info
  **********************/

.invest-info {
  width:100%;
  border-top: 2px solid #FFF;
}

.invest-info .needs {
  padding: 18px 10% 28px 10%;
  background: #EEE;
}

.invest-info .needs .info-table {
  display: inline-block;
  width: 278px;
  position: relative;
  left: 50%;
  background: url(../../../images/wapsite/cssimage/k12398712398223.png) no-repeat scroll left center;
  background-size: 278px;
  -o-transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

/* less than 330px */
@media only screen and (max-width:330px ) {
  .invest-info .needs .info-table {
    width:270px;
    background-position:left;
  }
}

/* less than 320px */
@media only screen and (max-width:319px ) {
  .invest-info .needs .info-table {
    width: 240px;
    background-size: 248px;
    background-position:left 24px;
  }
}

.invest-info .needs li {
  float: left;
  width: 49%;
  height: 82px;
  overflow:hidden;
}


/* less than 320px */
@media only screen and (max-width:319px ) {
  .invest-info .needs li {
    float: left;
    width: 49%;
    height: 74px;
    margin-top:8px;
    overflow:hidden;
  }
}

/* less than 300px */
@media only screen and (max-width:319px ) {
  .invest-info .needs li {
    float: left;
    width: 49%;
    height: 64px;
    overflow:hidden;
  }
}

.invest-info .needs li aside {
  box-sizing: content-box;
  position: absolute;
  display: inline-block;
  width: 114px;
  height: 54px;
  margin-top: 16px;
  padding-left: 18px;
  text-align: center;
}

.invest-info .needs li:last-child aside {
  width:80px;
  padding-left:58px;
}

.invest-info .needs li i span{
  display: inline-block;
}

.invest-info .needs li i {
  display: inline-block;
  font-size: 22px;
  margin-top: 4px;
}

.invest-info .needs li em {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #666;
  padding-bottom: 22px;
}

.invest-info .needs p {
  width: 100%;
  margin-top: 4px;
  line-height: 16px;
}

.invest-info .needs p i {
  color: #757575;
}

.invest-info .needs p em {
  font-size: 14px;
  color: #757575;
  font-weight: 700;
}

.invest-info .invester .slider-container {
  height: 170px;
  padding: 0;
  background: #F5F5F5;
}

.invest-info .slider-container ul {
  height: 100%;
}

.invest-info .slider-container li {
  position: relative;
  width: 33.3%;
  height: 100%;
  text-align: center;
  margin: 0;
  border-right: 1px solid #FFF;
  background: #F5F5F5;
}

.invest-info .slider-container li.double{
  width: 50%;
}


.invest-info .slider-container li.single{
  width: 100%;
}

.invest-info .slider-container li:last-child {
  border-right: 0;
}

.invest-info .invester p.avatar {
  display: inline-block;
  margin-top: 14px;
}

.invest-info .invester p.avatar img {
  width:50px;
  height: 50px;
}

.invest-info .invester p {
  text-align: center;
}

.invest-info li p i {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 14px;
  margin-top: 6px;
}

.invest-info li p em {
  display: block;
  width: 100%;
  color: #999;
  font-size: 14px;
  line-height: 14px;
  font-family: "source-code-pro","PingHei","Lucida Grande","sans-serif";
  margin-top: 4px;
}

.invest-info li .investment {
  position: absolute;
  width: 100%;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  top: 130px;
  background: #EEE;
}

.invest-info article{
  background: #F5F5F5;
}

.invest-info article:nth-child(2n) {
  background: #FFF;
}

.invest-info .extra-files{
  background: #FFF;
}

.invest-info .invester h1,
.invest-info .extra-files h1 {
  padding-top: 12px;
  width: 100%;
  height: 56px;
  padding-left: 4.6%;
}

.invest-info .invester h1{
  background: #FFF;
}

.invest-info .invester h1 > i {
  position:absolute;
  display:inline-block;
  min-width:15px;
  height:15px;
  color:#666;
  font-size:12px;
  line-height:16px;
  text-align:center;
  margin-top:14px;
  margin-left:2px;
  padding:0 3px 0 2px;
  border-radius:3px;
  background:#EEE;
}

.invest-info .funds,
.invest-info .questions-answers {
  padding: 15px 4.6% 20px;
}

.invest-info .questions-answers{
  min-height: 168px;
}

.invest-info .funds p {
  margin-top: 4px;
  margin-bottom: 14px;
}

.invest-info .questions-answers h1 {
  line-height:24px;
  margin-top:9px;
  font-family: "source-code-pro","PingHei","Lucida Grande","sans-serif";
}

.invest-info .funds p:last-child {
  margin-bottom: 2px;
}

.invest-info .questions-answers {
  background: #F5F5F5;
}

.invest-info .questions-answers .group {
  margin-top:16px;
}

.invest-info .questions-answers .item {
  margin-top:6px;
}

.invest-info .questions-answers p.title-container {
  height:22px;
  line-height:18px;
  padding-top:2px;
}

.invest-info .questions-answers p i {
  position:absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size:16px;
  line-height: 16px;
  color: #FFF;
  text-align: center;
  font-family: "source-code-pro","PingHei","Lucida Grande","sans-serif";
  border-radius: 2px;
  margin-right: 2px;
  background: #E3E3E3;
}

.invest-info .questions-answers p em {
  position:absolute;
  display: inline-block;
  height:16px;
  font-size: 14px;
  line-height: 18px;
  color: #FFF;
  font-family: "source-code-pro","PingHei","Lucida Grande","sans-serif";
  padding:0 6px;
  margin-left:18px;
  border-radius: 2px;
  background: #E3E3E3;
}

.extra-files {
  padding-bottom:20px;
}

.extra-files .file {
  height:50px;
  line-height:52px;
  background:#F5F5F5 url(../../../images/wapsite/cssimage/213iouy123871239u9123.png) no-repeat 16px center;
  background-size:32px;
}

.extra-files .file a {
  display:inline-block;
  width:100%;
  height:96%;
  padding-left:54px;
}

.extra-files .file a:active {
  background:rgba(82, 82, 82, 0.27);
}

/******************
    Not Logged In
  ******************/

.logged-in {
  display:none;
}

.details.logged .logged-in {
  display:block;
}

.details.logged .not-logged-in {
  display:none;
}

.login-options {
  width:100%;
}

.login-options p.declare {
  text-align:center;
  line-height:18px;
  padding:20px 0;
  padding-right:6px;
}

.login-options p.declare i {
  font-weight:700;
}

.login-options .control-module {
  height:50px;
  padding:0 5.5% 0 6.1%;
  background:#F5F5F5;
}

.login-options .control-module:last-child {
  margin-top:4px;
}

.login-options .control-module em {
  line-height:52px;
  padding-left:8px;
}

.login-options .control-module em i {
  position:absolute;
  display:inline-block;
  width: 0;
  height: 0;
  margin-top:21px;
  margin-left:-6px;
  border-top: 4px solid transparent;
  border-left: 4px solid #333;
  border-bottom: 4px solid transparent;
}

.login-options .control-module .btn {
  width:78px;
  margin-top:11px;
  border-color:#666;
  float:right;
}