/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/

/*******************
    bkg container
  *******************/

/*.card-effect {
  position:relative;
  width:100%;
  height:48px;
  top:0;
  z-index:99;
}

.card-effect .content {
  position:absolute;
  bottom:0;
  background:#21395C;
}

.card-effect .content img {
  width:100%;
}*/

/*******************
    Pesonal Summary
  *******************/

.pesonal-summary {
  position:relative;
  width: 100%;
  min-height:246px;
  padding: 0px;
  text-align: center;
  top:0;
  background:#21395C;
  z-index:88;
  overflow:hidden;
}

.pesonal-summary .layer {
  position:relative;
  z-index:88;
}

.pesonal-summary .avatar {
  display: inline-block;
  width: 100%;
  min-height:94px;
  margin-top: 14px;
}

.pesonal-summary .avatar img {
  display:none;
  width: 25%;
  min-width:90px;
  max-width:125px;
  min-height:90px;
  border-radius:50%;
  border:2px solid #FFF;
}

.pesonal-summary .avatar img.show {
  display:inline-block;
}

.pesonal-summary .summary {
  min-height:94px;
  margin:0  5.2%;
  margin-top: 4px;
  padding-bottom: 16px;
}

.pesonal-summary .summary h1 {
  color:#FFF;
  min-height:32px;
  font-size: 24px;
  line-height: 32px;
}

.pesonal-summary .summary p {
  min-height:18px;
  color:#F37F2B;
  font-size: 16px;
  line-height: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pesonal-summary .summary p:empty {
  display:none;
}

.pesonal-summary .summary p.extra {
  min-height:48px;
  color: #FFF;
  font-size: 12px;
  margin-top: 8px;
  text-align:justify;
}

.pesonal-summary .summary p.extra.bigger-font {
  font-size:14px;
}

.pesonal-summary .summary p.extra.align-center {
  text-align:center;
}

.pesonal-summary .rs-bkg {
  position: absolute;
  bottom: 0;
  background: #21395C;
  z-index: 1;
  -moz-animation: 4s ease 0s normal forwards bkg-scale;
  -o-animation: 4s ease 0s normal forwards bkg-scale;
  -webkit-animation: 4s ease 0s normal forwards bkg-scale;
  animation: 4s ease 0s normal forwards bkg-scale;
}

.pesonal-summary .rs-bkg img {
  width:100%;
}

.pesonal-summary .effect-card .effect {
  position: absolute;
  top: -120px;
  z-index: -22;
  -moz-animation: 112s linear 0s normal forwards infinite rotateLeft;
  -o-animation: 112s linear 0s normal forwards infinite rotateLeft;
  -webkit-animation: 112s linear 0s normal forwards infinite rotateLeft;
  animation: 112s linear 0s normal forwards infinite rotateLeft;
}

.pesonal-summary .effect-card .effect img {
  margin-left:-20%;
  width:140%;
}

/*********************
     Slider Module
  *********************/

.participation {
  padding-bottom:20px;
}

.participation .slider-container {
  padding: 6px 0;
}

.pesonal-info h1,
.participation h1 {
  font-size:22px;
  color:#999;
  line-height:36px;
  margin-top:26px;
  padding:0 5.2%;
}

.slider-container {
  height: 156px;
}

.slider-container li {
  margin-left:0;
  margin:0 2px 0 0 ;
}

.slider-container li .brand img {
  width:102px;
  height: 102px;
  margin: 0;
  padding: 0;
}

.slider-container li h3 {
  line-height:22px;
}

.slider-container li p {
  color:#999;
  line-height:14px;
  margin-top:-2px;
}

/*********************
    Pesonal Info
 *********************/

.pesonal-info {
  display:inline-block;
  width:100%;
  padding:0 5.2% 36px;
  background:#F5F5F5;
}

.pesonal-info h1 {
  padding:0;
}

.pesonal-info p {
  line-height:16px;
  margin-top:8px;
}

.pesonal-info h3 {
  color:#bbb;
  line-height:22px;
  margin-top:20px;
}

.pesonal-info .mark-list {
  display:inline-block;
  width:100%;
}

.pesonal-info .mark-list li {
  min-width:30px;
  font-size:12px;
  color:#666;
  padding:4px 6px 3px;
  margin-right:3px;
  margin-bottom:4px;
  border-radius:2px;
  border:1px solid #CCC;
  background:#E9E9E9;
}

.fund-paln {
  margin-top:1px;
  padding:32px 8.4% 30px 9.2%;
  background:#EEE;
}

@media only screen and (max-width: 360px) {
  .fund-paln {
    padding-left:5.4%;
    padding-right:5.4%;
  }
}

.fund-paln .plan {
  display:inline-block;
  width:100%;
}

.fund-paln .plan li {
  width:46%;
  height:54px;
}

.fund-paln .plan li:last-child {
  width:54%;
  border-left:1px solid #F3F3F3;
}

.fund-paln .plan li i {
  display:inline-block;
  width:27.2%;
  max-width:46px;
  height:100%;
  vertical-align:top;
  background:url(/static/images/wapsite/cssimage/1289731298723.png) no-repeat left center scroll;
  background-size:74px;
}

.fund-paln .plan li:last-child i {
  width:26.8%;
  margin-left:10px;
  background-position:-38px center;
}

@media only screen and (max-width: 326px) {
  .fund-paln .plan li:last-child i {
    width:26%;
    min-width:40px;
    margin-left:4px;
  }
}

.fund-paln .plan li .desc {
  display:inline-block;
  width:58%;
  text-align:center;
  margin-top:8px;
}

.fund-paln .plan li:last-child .desc {
  width:64%;
}

@media only screen and (max-width: 302px) {
  .fund-paln .plan li:last-child .desc {
    width:58%;
    margin-left:4px;
  }
}

.fund-paln .plan li .desc em {
  font-size:12px;
  color:#666;
}

.fund-paln .desc p {
  color:#666;
  height:24px;
  font-size:24px;
}

.fund-paln .plan li .desc.small-font p {
  font-size:18px;
  line-height:24px;
}

.fund-paln .desc span {
  color:#666;
  font-size:12px;
}

.fund-paln > p {
  color:#666;
  font-size:12px;
  line-height:16px;
  margin-top:18px;
}

.fund-paln > p em {
  color:#333;
  font-size:12px;
  font-weight:700;
  margin:0 2px;
}

.fund-paln > p b {
  margin:0 1px;
}

.page-action {
  margin-top:1px;
}

/******************
     new page
 ******************/

.new-page .selection .section-list {
  display:inline-block;
  width:100%;
  padding-left:0;
  border:none;
}

.new-page .selection section {
  position:static;
  display:inline-block;
  width:100%;
  float:left;
  margin-bottom:3px;
  padding:38px 7.2% 35px 5.3%;
  border-top:1px solid #F3F3F3;
  border-bottom:1px solid #F3F3F3 !important;
  background-image:none;
}

.new-page .selection section.active {
  border-color:rgba(33, 112, 205, 0.04);
  background:rgba(33, 112, 205, 0.08);
}

.new-page section .logo {
  height:56px;
  float:left;
}

.new-page .selection section img {
  width:56px;
}

.new-page .selection section .summary {
  float:left;
  margin-left:10px;
}

.new-page section .summary p {
  color:#999;
}

.new-page .selection section h3 {
  color:#666;
  font-size:28px;
  line-height:36px;
}

.new-page .selection section h3.small-font {
  font-size:22px;
  line-height:32px;
  margin-bottom:2px;
}


.new-page .selection section h3.minimum-font {
  font-size:20px;
  line-height:30px;
  margin-bottom:4px;
}

.new-page section .item-state {
  float:right;
  margin-top:10px;
}

.new-page section .tag,
.new-page section.already-submit .vector-icons {
  display:none;
}

.new-page section .vector-icons ,
.new-page section.already-submit .tag {
  display:block;
}

.new-page .selection section .tag {
  font-size:12px;
  line-height:36px;
}

.new-page .selection section .tag:empty {
  display:none;
}

.submit-area {
  width:100%;
}

@media only screen and (min-width: 998px) {
  .submit-area {
    width:360px;
  }
}

.submit-area .summary {
  margin-top:6px;
  margin-bottom:4px;
}

.submit-area .summary .multiple {
  display:none;
}

.submit-area p {
  font-size:12px;
  color:#999;
  line-height:14px;
  padding-left:5%;
  margin-bottom:8px;
}

/*******************
     Entrepreneurs
  ********************/

.entrepreneurs .pesonal-info {
  display:block;
  min-height:370px;
  padding:0;
}

.entrepreneurs .pesonal-info section {
  display:inline-block;
  width:100%;
  padding: 0px 5.2% 30px;
}

.entrepreneurs .pesonal-info section p {
  line-height:18px;
}

.entrepreneurs .pesonal-info section:nth-child(2n+1) {
  background:#FFF;
}

/*******************
       Keyframes
  ********************/

@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    -webkit-transform: rotate(-360deg) translateZ(-1px);
  }
}

@-moz-keyframes rotateLeft {
  0% {
    -moz-transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    -moz-transform: rotate(-360deg) translateZ(-1px);
  }
}

@-o-keyframes rotateLeft {
  0% {
    -o-transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    -o-transform: rotate(-360deg) translateZ(-1px);
  }
}

@-ms-keyframes rotateLeft {
  0% {
    -ms-transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    -ms-transform: rotate(-360deg) translateZ(-1px);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg) translateZ(-1px);
  }

  100% {
    transform: rotate(-360deg) translateZ(-1px);
  }
}



@-webkit-keyframes bkg-scale {
  0% {
    -moz-transform:scaleX(1.1) scaleY(1.1);
    -webkit-transform:scaleX(1.1) scaleY(1.1);
    transform:scaleX(1.1) scaleY(1.1);
  }

  100% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@-moz-keyframes bkg-scale {
  0% {
    -moz-transform:scaleX(1.1) scaleY(1.1);
    -webkit-transform:scaleX(1.1) scaleY(1.1);
    transform:scaleX(1.1) scaleY(1.1);
  }

  100% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@-o-keyframes bkg-scale {
  0% {
    -moz-transform:scaleX(1.1) scaleY(1.1);
    -webkit-transform:scaleX(1.1) scaleY(1.1);
    transform:scaleX(1.1) scaleY(1.1);
  }

  100% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@-ms-keyframes bkg-scale {
  0% {
    -moz-transform:scaleX(1.1) scaleY(1.1);
    -webkit-transform:scaleX(1.1) scaleY(1.1);
    transform:scaleX(1.1) scaleY(1.1);
  }

  100% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes bkg-scale {
  0% {
    -moz-transform:scaleX(1.1) scaleY(1.1);
    -webkit-transform:scaleX(1.1) scaleY(1.1);
    transform:scaleX(1.1) scaleY(1.1);
  }

  100% {
    -moz-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}