TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, MS Shell Dlg; WORD-WRAP: break-word
}
BODY {
	BACKGROUND-COLOR: #ffffff
}
.bordercolor {
	BACKGROUND-COLOR: #000000
}
.cattitle {
	BACKGROUND-COLOR: #ccccd4
}
.acolor {
	BACKGROUND-COLOR: #ffffff
}
.bcolor {
	BACKGROUND-COLOR: #f2f3f7
}
