<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../../lib/foundation/css/foundation.css">
	<link rel="stylesheet" href="style.css">
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

<button class="btn" ng-click="app.toggle=!app.toggle">Toggle Animation</button>

<div class="toggle" ng-if="app.toggle">Some content here</div>

<script type="text/javascript" src="../../lib/angular/angular1.2.0.js"></script>
<script type="text/javascript"
        src="../../lib/angular/angular-animate.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
